<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Resume</title>
  </head>
  <body>
    <!-- ngIf directives -->

    <ng-template [ngIf]="showElement">
      <!-- ngStyles directives -->
      <p id="page" [style.color]="myColor">Page Not Found!</p>
    </ng-template>

    <!-- ngFor directives -->

    <ul>
      <li *ngFor="let item of num">
        {{ item }}
      </li>
      <h5 [class.blue]="appliedClass">Please Go Back To Home</h5>
    </ul>
  </body>
  <style>
    .blue{
     color: red;
    }

    p{
      text-align: center;
      font-size: 50px;
    }
    ul, li{
      text-align: center;
      list-style-type: none;
    }
  </style>
</html>
