<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #EADDCA;"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about"> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="skills"> Skills</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="education"> Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reference"> Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="page"> Click!</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>

      <!-- Avatar -->
      <div class="dropdown">
        <a routerLink="" id="navbarDropdownMenuAvatar" role="button">
          <img
            src="https://stackblitz.com/files/angular-cv-2135-jmob-sc5dzj/github/jedm12/angular-cv-2135-jmob-new/main/picture/pic.jpg"
            class="rounded-circle"
            height="40"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>
